html,body{margin:0;padding:0;background:#8a8380 url(../images/base_bg.gif) repeat-x top;width:100%;height:100%; color:#FFF;}
* html #wrap{height: 100%;}
p,td,div{font-family:Arial, Helvetica, sans-serif; margin-top: 0px;}
a img{border:0;}
a{color: #ffc691;text-decoration: none;}
a:hover{color: #ffeedf;	text-decoration:underline;}
a.hidden{text-decoration: none;color: #000;cursor:default;}
form{margin:0;padding:0;}
div.clr{clear:both;}

ul{margin-left:20px;margin-top:0px;padding:1px;list-style-type: square;line-height: 16px;}
h1{font-size:18px;font-weight:normal; color: #000;margin:0 0 10px; font-family:Arial, Helvetica, sans-serif;}

#wrap{position:relative; min-height:100%; margin:0 auto; width:100%;}
#page{width:920px;margin:0 auto;background:#8a8380;}
#pagewrap{width:920px;background:#7d7572; overflow:hidden;}

#header{background:url(../images/img01.jpg) no-repeat; width:640px; height:358px;}
#sidebar{width:280px; float:left; background:#7d7572 url(../images/sidebar_bg.jpg) no-repeat;}
#logowrap{height:145px; width:280px; position:relative; }
#logo{position:absolute; margin:27px 0 0 24px;}
#company_name{font-size:30px;font-weight:normal;text-transform:none;color:#fbd1a0; position:absolute; font-family:tahoma; margin:80px 0 0 103px; z-index:1;}
#company_name_shadow{font-size:30px;font-weight:normal;text-transform:none;color:#504b49; position:absolute; font-family:tahoma; margin:82px 0 0 105px; z-index:0;}

#menuwrap{width:250px; margin-left:15px;}
#menuwrap .bottom{height:10px; overflow:hidden; margin:0;}
ul#menu{color: #FFF;font-weight:normal;padding:0;white-space: nowrap; margin:0; font-family:arial; font-size:14px; text-transform:uppercase; width:250px; list-style:none; background:#413937; display:block; overflow:hidden;}
	ul#menu li{display:block; height:18px; width:206px; background:url(../images/menu_bg.gif) no-repeat; margin:7px 0; padding:2px 0 0 44px;}
	ul#menu li:hover{background:url(../images/menu-hover.gif) no-repeat; cursor:pointer;}
	#menu a{text-decoration: none;color: #FFF;}
	#menu a:hover{color: #FFF;text-decoration: underline;}
#news{font-size:12px; padding:0; margin:10px 15px 0;}
#news p{ padding: 0 5px 0 5px; text-align:justify;}
#news h2{font-size:14px; display:block; height:27px; font-family:Arial, Helvetica, sans-serif; font-weight:normal; background:url(../images/news-header.gif) no-repeat; padding:9px 0 0 15px;}


#contentwrap{float:right; width:640px;}
#body_txt{color: #fff;text-align: justify;padding: 0 20px 20px 0;vertical-align: top; background:#7d7572 url(../images/body-txt_bg.gif) repeat-x top; font-size:12px; min-height: 220px;}
#login_form{background-image: url(../images/login-form-bg.gif);background-repeat: repeat-x;height: 20px;width: 110px;border-width: 1px;border-style: solid;font-size: 11px;padding-top: 3px;padding-left: 1px;}

#footer{width:920px; background:url(../images/footer_bg.gif) no-repeat top; font-family:Arial, Helvetica, sans-serif;}
	#bottom_addr{color: #000;text-align:center;padding: 3px 15px 10px 15px; font-size:11px;}
	#bottom_addr a{text-decoration: none;}
	#bottom_addr a:hover{text-decoration: underline;}

	#bottom_menu{color: #000;text-align: center;padding: 15px 15px 3px 15px; font-size:12px;}
	#bottom_menu a{color: #000;text-decoration:underline; padding:0 7px;}
	#bottom_menu a:hover{color: #fff;text-decoration: underline;}


#settings {    opacity: 0.8;	width: 40%;
	height: 110px;
	position:fixed;
	left:30%;
	top: -95px;
	background-color: red;
	border-radius: 0px 0px 20px 20px;
	overflow: hidden;
	padding-left: 10px;
	z-index: 2;
}

#settings a {	line-height: 20px;	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
}

#settings table {	width: 100%;
}

#userdiv { 	position: fixed;
 	top: 40px;
 	left: 70%;
 	font-size: 12px;
 	background-color: #CD6839;
 	padding: 3px 3px 3px 3px;
 	border-radius: 3px 3px 3px 3px;
}

.cinput {	width: 20px;
}

html {
    overflow-y: scroll;
}

.error {	color: #A00000 ;
}

#body_txt table {	width: 100%;
}